<div class="topbar-container">
    <div class="topbar-row topbar-row-1">
        <div class="topbar-column-1"><p>My blog</p></div>
        <div class="topbar-column-2">
            <div class="topbar-search" placeholder="Search"><input></div>
            <div class="topbar-link"><p>Link 1</p></div>
            <div class="topbar-link"><p>Link 2</p></div>
            <div class="topbar-link"><p>Link 3</p></div>
            <div class="topbar-link"><p>My profile</p></div>
            <div class="topbar-link"><p>Logout</p></div>
        </div>
    </div>
</div>