.post-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 20px;
  &.even {
    background-color: silver;
  }
  &.odd {
    background-color: #919191;
  }
}

.post-row {
  display: flex;
}

.post-row-1 {
  flex-direction: row;
  height: 80px;
}

.post-row-2 {
  height: auto;
}

.post-row-3 {
  height: 100px;
  display: flex;
  align-self: center;
}

.post-column-1 {
  flex-basis: 80px;
}

.post-column-2 {
  flex-basis: 70%;
  padding: 5px;
}

.post-column-3 {
  flex-basis: 30%;
  display: flex;
  justify-content: space-around;
}

.post-title {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 5px;
}

.post-text {
  padding: 5px;
}

.btn {
  width: 100px;
  background: black;
  color: white;
  padding: 5px;
}

.post-img {
  padding-left: 5px;
  padding-right: 5px;
}