<div class="post-container" [ngClass]="index%2===0 ? 'even' : 'odd'">
  <div class="post-row post-row-1">
    <div class="post-column post-column-1">
      <img src="../../../assets/images/placeholder80.png" alt="">
    </div>
    <div class="post-column post-column-2">
      <div class="post-title">
        {{post?.title}}
      </div>
      <div class="post-created-at">
        Posted date: {{post.createdAt | date:'medium'}} by Some person
      </div>
    </div>
    <div class="post-column post-column-3">
      <div class="edit-button" (click)="editPost()"><button class="edit-btn btn">Edit</button></div>
      <div class="delete-button" (click)="deletePost()"><button class="delete-btn btn">Delete</button></div>
    </div>
  </div>
  <div class="post-row post-row-2">
    <div class="post-column post-post-text">
      {{post.text}}
    </div>
  </div>
  <div class="post-row post-row-3">
    <div class="post-img">        
      <img src="../../../assets/images/placeholder100.png" alt="">
    </div>
    <div class="post-img">
      <img src="../../../assets/images/placeholder100.png" alt="">
    </div>
    <div class="post-img">
      <img src="../../../assets/images/placeholder100.png" alt="">
    </div>
  </div>
</div>
