.blog-container {
    display: flex;
}

.blog-column-1  {
    flex-basis: 20%;
}

.blog-column-2  {
    flex-basis: 80%;
}

@media (max-width: 768px) {
    .blog-container {
        flex-direction: column;
    }
    .blog-column {
        flex-basis: 100%;
    }
}